* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cormorant SC', serif;
  background-color: #e7eee7;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.topStripe {
  height: 70px;
  background-color: #417e6f;
}
.stripeContainer {
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}
.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  color: #e7eee7;
}
.menu {
  display: flex;
}
.menuList {
  list-style-type: none;
  margin-left: 15px;
}
.menuListLast {
  list-style-type: none;
  margin-left: 30px;
  margin-top: 7px;
}
.menuLink {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #e7eee7;
}
.menuLink:hover {
  color: #D64E52;
}
.redButton {
  background-color: #cb132d;
  padding: 7px;
  border-radius: 14px;
  top: 8px;
  color: white;
  left: 39px;
  font-weight: 600;
  font-size: 20px;
}
.headerStripe {
  height: 30px;
  background-color: #417e6f;
  line-height: 30px;
}
.slider {
  width: 1200px;
  height: 400px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  position: relative;
  overflow: hidden;
}
.testBox {
  filter: opacity(0.9);
}
.testImg {
  background-image: url("img/Slider1.jpg");
  width: 1200px;
  height: 400px;
}
.sliderLine {
  width: 3600px;
  display: flex;
  position: relative;
  left: 0px;
  transition: all ease 2s;
}
.sliderImg {
  width: 1200px;
  height: 400px;
}
.slider1text {
  border-left: 7px solid #cb132d;
  color: #241b1c;
  font-size: 40px;
  text-align: left;
  padding: 12px;
  font-weight: 400;
  width: 565px;
  height: 101px;
  background-color: white;
  position: relative;
  top: -166px;
  left: 575px;
}
.itemBlock {
  height: 1170px;
  text-align: center;
  background-color: #fef5e6;
}
.itemLine {
  display: flex;
  justify-content: space-evenly;
}
.itemLine2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 310px;
  height: 300px;
  background-color: #e7eee7;
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
}
.item:hover {
  transform: scale(1.02);
  transition: all ease 0.3s;
}
.item:hover .itemPic {
  transform: scale(1.2);
}
.item:hover .itemHolst {
  transform: scale(1.2);
}
.item:hover .itemNakl {
  transform: scale(1.2);
}
.item:hover .itemLabel {
  transform: scale(1.2);
}
.item:hover .itemLeaflet {
  transform: scale(1.2);
}
.itemPicCont {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}
.itemTextBig {
  margin-top: 20px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 30px;
}
.itemPic {
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/tetsItemPic.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemHolst {
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/holstCard.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemNakl {
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/nakltCard.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemLabel {
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/label.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemLeaflet {
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/leaflet.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.dizaynBlock {
  height: 500px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.h3 {
  font-family: 'Comfortaa', cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
}
.h3shadow {
  font-family: 'Comfortaa', cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  color: black;
}
.opisanieDiz {
  display: flex;
  justify-content: space-between;
}
.dizPic {
  width: 400px;
  height: 300px;
  background-image: url("img/dizPic.jpg");
  border-radius: 10px;
  margin-left: 75px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.dizText {
  width: 600px;
  margin-right: 75px;
  margin-top: 30px;
}
.priemContainer {
  text-align: center;
  background-color: #fef5e6;
}
.priemBlock {
  display: flex;
  justify-content: space-evenly;
}
.priemPicOne {
  background-image: url("img/priem/car.svg");
  background-repeat: no-repeat;
  width: 166px;
  height: 90px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.priemPicTwo {
  background-image: url("img/priem/service.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.priemPicThree {
  background-image: url("img/priem/hands.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.priemPicFour {
  background-image: url("img/priem/watch.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.priemCard {
  width: 240px;
  height: 270px;
  border-radius: 10px;
  margin-bottom: 55px;
  background-color: #417e6f;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
}
.h3Priem {
  margin-top: 15px;
  color: white;
}
.PriemP {
  color: white;
  margin-top: 10px;
  font-size: 20px;
}
.otzivyContainer {
  text-align: center;
  height: 500px;
  width: 1200px;
  overflow: hidden;
  background-color: #fef5e6;
}
.otzivy {
  width: 4800px;
  position: relative;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  transition: all ease 2s;
}
.otzivSliderLineBlock {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}
.otziv {
  width: 300px;
  height: 320px;
}
.otzivText {
  padding: 22px;
}
.otzivPic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url("img/otziv.jpg");
  overflow: hidden;
}
.oNasContainer {
  text-align: center;
  height: 911px;
  background: #fef5e6;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.oNasBlock {
  display: flex;
  justify-content: space-evenly;
}
.oNasPic {
  width: 400px;
  height: 300px;
  background-image: url("img/oNasPic.jpg");
  border-radius: 10px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.oNasText {
  width: 600px;
  margin-top: 18px;
  text-align: left;
  font-size: 20px;
}
.oNasBlock2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
}
.oNasPic2 {
  width: 400px;
  height: 300px;
  background-image: url("img/oNasPic2.jpg");
  border-radius: 10px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.zayavkaButton {
  background-color: #cb132d;
  padding: 11px;
  border-radius: 23px;
  margin-top: 40px;
  display: inline-block;
  font-size: 20px;
  color: white;
  font-weight: 600;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.footerContainer {
  height: 100px;
  background-color: #417e6f;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
}
.icon {
  font-size: 40px;
  padding: 5px;
  color: white;
}
.logoFooter {
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  color: white;
}
.dostavkaBlock {
  height: 1000px;
  text-align: center;
  background-color: #fef5e6;
}
.dostavkaCard {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 70px;
}
.dostavkaPic {
  width: 250px;
  height: 204px;
  background-image: url("img/dostavka/dostavkaPic.svg");
}
.dostavkaPtext {
  width: 500px;
  text-align: left;
  font-size: 20px;
}
.sLine {
  border-left: 5px solid red;
  padding-right: 10px;
}
.kura {
  background-image: url("img/dostavka/kura.svg");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.vizitkiFon {
  height: 1000px;
  text-align: center;
  background: #fef5e6;
}
.vizitkiBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.vizitkiSlider {
  width: 50%;
}
.vizitkiText {
  width: 50%;
  padding: 10px 50px 50px 50px;
  color: #241b1c;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
}
.gallerySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallerySliderTop {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
}
.sliderTopLine {
  width: 1600px;
  display: flex;
  left: 0px;
  position: relative;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallerySliderBottom {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-top: 5px;
  flex-wrap: wrap;
  gap: 5px;
}
.vizPicMiniOne {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide1mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniOne:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniTwo {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide2mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniTwo:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniThree {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide3mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniThree:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniFour {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide4mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniFour:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniFifth {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide5mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniFifth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniSixth {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide6mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniSixth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniSeventh {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide7mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniSeventh:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizPicMiniEighth {
  width: 95px;
  height: 95px;
  background-image: url("img/vizitkiSlider/Slide8mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.vizPicMiniEighth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.redButtonViz {
  background-color: #cb132d;
  padding: 11px;
  border-radius: 23px;
  top: 8px;
  color: white;
  left: 39px;
  font-weight: 600;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.menuMini {
  display: flex;
  justify-content: space-evenly;
}
.menuListMini {
  list-style-type: none;
}
.menuLinkMini {
  color: #e7eee7;
  font-size: 20px;
}
.menuLinkMini:hover {
  border-bottom: 2px solid #e7eee7;
}
.slideOne {
  background-image: url("img/Slider.jpg");
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.slideOneText {
  filter: opacity(0.8);
  background: white;
  padding: 20px;
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 31px;
  border-bottom: 7px solid red;
  border-radius: 20px;
}
.slideTwo {
  background-image: url("img/Slider1.jpg");
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.slideTwoText {
  filter: opacity(0.8);
  background: white;
  padding: 20px;
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 31px;
  border-bottom: 7px solid red;
}
.slideThree {
  background-image: url("img/Slider2.jpg");
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.slideThreeText {
  filter: opacity(0.8);
  background: white;
  padding: 20px;
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 31px;
  border-bottom: 7px solid red;
}
.contactBlock {
  height: 1000px;
  text-align: center;
  background-color: #fef5e6;
}
.contactCard {
  width: 1000px;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-radius: 10px;
  padding-top: 40px;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.contactPic {
  width: 300px;
  height: 300px;
  background-image: url("img/contact/map.svg");
}
.contactTextContainer {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.contactTextContainerLeft {
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;
}
.lineContact {
  border-bottom: 3px solid red;
}
.contactTextContainerRight {
  text-align: right;
  font-size: 20px;
  letter-spacing: 1px;
}
.nakleikiFon {
  height: 1000px;
  text-align: center;
  background: #fef5e6;
}
.naclBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.naclSlider {
  width: 50%;
}
.naklPicMiniOne {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide1mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniOne:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniTwo {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide2mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniTwo:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniThree {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide3mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniThree:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniFour {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide4mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniFour:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniFifth {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide5mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniFifth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniSixth {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide6mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniSixth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniSeventh {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide7mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniSeventh:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.naklPicMiniEighth {
  width: 95px;
  height: 95px;
  background-image: url("img/naklSlider/naklSlide8mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.naklPicMiniEighth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.vizitkiText {
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: #241b1c;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}
.leafletBackG {
  height: 1000px;
  text-align: center;
  background: #fef5e6;
}
.leafletBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.leafletSlider {
  width: 50%;
}
.leafletPicMiniOne {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide1mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniOne:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniTwo {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide2mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniTwo:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniThree {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide3mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniThree:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniFour {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide4mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniFour:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniFifth {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide5mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniFifth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniSixth {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide6mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniSixth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniSeventh {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide7mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniSeventh:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletPicMiniEighth {
  width: 95px;
  height: 95px;
  background-image: url("img/leafletSlider/slide8mini.jpg");
  border-radius: 10px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  cursor: pointer;
}
.leafletPicMiniEighth:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}
.leafletText {
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: #241b1c;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}
