@mainWidth: 1200px;

@mainColorHeader: #417e6f;//#006955; темно зеленый  //темно бежевый #B7582A; // red #CF3E29;
@mainColorLight: #DA8A46;
@mainGray: #fef5e6;//#cccccc;
@textColor:#241B1C;
@bigButton: #cb132d;
@itemCardColor:#E7EEE7; //#DBC2A4;
@dizBlockColor:#DBC2A4;

@shadowOne: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
*{
  margin: 0;
  padding: 0;
}
body{
  //font-family: 'Alumni Sans', sans-serif;
  //font-family: 'Comfortaa', cursive;
  font-family: 'Cormorant SC', serif;
  background-color: @itemCardColor;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  width: @mainWidth;
  margin: 0 auto;
}
.topStripe{

  height: 70px;
  background-color: @mainColorHeader;
}
.stripeContainer{
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}
.logo{
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  color: @itemCardColor;
}
.menu{
  display: flex;
}
.menuList{
  list-style-type: none;
  margin-left: 15px;
}
.menuListLast{
  list-style-type: none;
  margin-left: 30px;
  margin-top: 7px;

}
.menuLink{
  font-size: 18px;
  //letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: @itemCardColor;
  &:hover{
    color:#D64E52;
  }
}
.redButton{
  background-color: #cb132d;
  padding: 7px;
  border-radius: 14px;
  top: 8px;
  color: white;
  left: 39px;
  font-weight: 600;
 // letter-spacing: 1px;
  font-size: 20px;
}
.headerStripe {
  height: 30px;
  background-color: @mainColorHeader;
  line-height: 30px;
}
.slider{
  width: 1200px;
  height: 400px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  position: relative;
  overflow: hidden;
}

.sliderLine{
 width: @mainWidth*3;
 display: flex;
 position: relative;
 left: 0px;
 transition: all ease 2s;

}
.mainSliderTextOne{
  position: relative;
  top: -106px;
  left: 852px;
  font-size: 32px;
  background-color: white;
  width: 323px;
  text-align: center;
  border-bottom: 5px solid red;
  opacity: 0.9;
}
.mainSliderTextTwo{
  position: relative;
  top: -106px;
  left: 824px;
  font-size: 32px;
  background-color: white;
  width: 350px;
  text-align: center;
  border-bottom: 5px solid red;
  opacity: 0.9;
}
.mainSliderTextFour{
  position: relative;
  top: -106px;
  left: 786px;
  font-size: 32px;
  background-color: white;
  width: 390px;
  text-align: center;
  border-bottom: 5px solid red;
  opacity: 0.9;
}
.mainSliderTextFift{
  position: relative;
  top: -144px;
  left: 786px;
  font-size: 32px;
  background-color: white;
  width: 390px;
  text-align: center;
  border-bottom: 5px solid red;
  opacity: 0.9;
}


.itemBlock{
  height: 1170px;
  text-align: center;
  //background: linear-gradient(90deg,rgba(91, 91, 91, 0.84) 0%,rgba(188, 188, 188, 0.84) 46%,rgba(81, 81, 81, 0.84) 100%);
 // background: linear-gradient(90deg,@mainColorHeader 0%,@mainColorLight 49.75%,@mainColorHeader 100%);
  background-color: @mainGray;
}

.itemLine{
  display: flex;
  justify-content: space-evenly;
}
.itemLine2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.item{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 310px;
  height: 300px;
  background-color: @itemCardColor;
  border-radius: 10px;
  box-shadow: @shadowOne;
  &:hover{
    transform: scale(1.02);
    transition: all ease 0.3s;
  }

}
.item:hover .itemPic{

  transform: scale(1.2);

}
.item:hover .itemHolst{
  transform: scale(1.2);
}
.item:hover .itemNakl{
  transform: scale(1.2);
}
.item:hover .itemLabel{
  transform: scale(1.2);
}
.item:hover .itemLeaflet{
  transform: scale(1.2);
}
.item:hover .itemBooklet{
  transform: scale(1.2);
}
.item:hover .itemStyle{
  transform: scale(1.2);
}
.item:hover .itemDesing{
  transform: scale(1.2);
}
.item:hover .itemDev{
  transform: scale(1.2);
}
.itemPicCont{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}


.itemTextBig{
  margin-top: 20px;
  margin-bottom: 14px;
  font-weight: 500;
  //letter-spacing: 5px;
  font-size: 30px;
}
.itemPic{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/viz.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;

}
.itemHolst{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/holstCard.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemNakl{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/nakltCard.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemLabel{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/label.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemLeaflet{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/leaflet.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemBooklet{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/booklet.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemStyle{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/dreamArt.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemDesing{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/desingPic.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
.itemDev{
  width: 200px;
  height: 200px;
  background-image: url("img/itemCardPic/devPic.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.95) inset;
  transition: 1.5s;
}
///////////////////////////
.dizaynBlock {
  height: 500px;
  background-color: @mainGray*1.8;
  text-align: center;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.h3{
  font-family: 'Comfortaa', cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
}
.h3shadow{
  font-family: 'Comfortaa', cursive;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
 //text-shadow: 5px 5px 5px #121212;
  color: black;
}
.opisanieDiz{
  display: flex;
  justify-content: space-between;
}
.dizPic{
  width: 400px;
  height: 300px;
  background-image: url("img/dizPic.jpg");
  border-radius: 10px;
  margin-left: 75px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);

}
.dizText{
  width: 600px;
  margin-right: 75px;
  margin-top: 30px;
}
.priemContainer{
  text-align: center;
 // height: 500px;
  //background: linear-gradient(90deg,@mainColorHeader 0%,@mainColorLight 49.75%,@mainColorHeader 100%);
  background-color: @mainGray;
  //box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  //padding-top: 50px;
  //padding-bottom: 50px;
}
.priemBlock{
  display: flex;
  justify-content: space-evenly;
}
.priemPicOne{
  background-image: url("./img/priem/car.svg");
  background-repeat: no-repeat;
  width: 166px;
  height: 90px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.priemPicTwo{
  background-image: url("./img/priem/service.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.priemPicThree{
  background-image: url("./img/priem/hands.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.priemPicFour{
  background-image: url("./img/priem/watch.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.priemCard{
  width: 240px;
  height: 270px;
  border-radius: 10px;
  margin-bottom: 55px;
  background-color: @mainColorHeader;
  box-shadow: @shadowOne;
}
.h3Priem{
  margin-top: 15px;
  color: white;
 // letter-spacing: 1px;
}
.PriemP{
  color: white;
  margin-top: 10px;
  font-size: 20px;
 // letter-spacing: 1px;
}
.otzivyContainer{
  text-align: center;
  height: 500px;
  width: 1200px;
  overflow: hidden;
 // background: linear-gradient(90deg,@bigButton 0%,@mainColorHeader 49.75%,@bigButton 100%);
  background-color: @mainGray;
  //box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  //padding-top: 50px;
  //padding-bottom: 50px;
}
.otzivy{
  width: 1200*4px;
  position: relative;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  transition: all ease 2s;
}
.otzivSliderLineBlock{
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}
.otziv{
  width: 300px;
  height: 320px;
  //background-color: white;
  //border-radius: 10px;
  //box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);

}
.otzivText{
  padding: 22px;
}
.otzivPic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url("img/otziv.jpg");
  overflow: hidden;
}
.oNasContainer{
  text-align: center;
  height: 911px;
  background: @mainGray;
  //background: linear-gradient(90deg,@mainColorHeader 0%,@mainColorLight 49.75%,@mainColorHeader 100%);
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  //padding-top: 50px;
  //padding-bottom: 50px;
}
.oNasBlock{
  display: flex;
  justify-content: space-evenly;
}
.oNasPic{
  width: 400px;
  height: 300px;
  background-image: url("img/oNasPic.jpg");
  border-radius: 10px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.oNasText{
  width: 600px;
  margin-top: 18px;
  text-align: left;
  font-size: 20px;
  // letter-spacing: 1px;
}
.oNasBlock2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
}
.oNasPic2{
  width: 400px;
  height: 300px;
  background-image: url("img/oNasPic2.jpg");
  border-radius: 10px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.zayavkaButton{
  background-color: @bigButton;
  padding: 11px;
  border-radius: 23px;
  margin-top: 40px;
  display: inline-block;
  font-size: 20px;
  color: white;
  font-weight: 600;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.footerContainer{
  height: 100px;
  background-color: @mainColorHeader;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
}
.icon{
  font-size: 40px;
  padding: 5px;
  color: white;
}
.logoFooter{
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

///////////DOSTAVKA/////////////////////////////////////////////////////////////////
.dostavkaBlock{
  height: 1000px;
  text-align: center;
  background-color: @mainGray;
  //background: linear-gradient(90deg,@mainColorHeader 0%,@mainColorLight 49.75%,@mainColorHeader 100%);
  //box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
}
.dostavkaCard{
  width: 1000px;
  //height: 550px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

 // background-color: @itemCardColor;
  border-radius: 10px;
  //padding-top: 40px;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
 // box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 70px;
  //margin-top: 50px;
}

.dostavkaPic{
  width: 250px;
  height: 204px;
  background-image: url("./img/dostavka/dostavkaPic.svg");
}
.dostavkaPtext{
  width: 500px;
  text-align: left;
  font-size: 20px;
  // letter-spacing: 1px;
}
.sLine{
  border-left: 5px solid red;
  padding-right: 10px;
}
.kura{
  background-image: url("./img/dostavka/kura.svg");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/////////////vizitki///////////////////////////


.vizitkiFon{
  height: 1000px;
  text-align: center;
  background: @mainGray;
  //background: linear-gradient(90deg,@mainColorHeader 0%,@mainColorLight 49.75%,@mainColorHeader 100%);
 // box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);

}
.vizitkiBlock{
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top:0px;
 // background-color: @itemCardColor;
  border-radius: 10px;
  display: flex;
}
.vizitkiSlider{
  width: 50%;
}
.vizitkiText{
  width: 50%;
  padding: 10px 50px 50px 50px;
  color: @textColor;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  //letter-spacing: 1px;

}
.gallerySlider{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallerySliderTop{
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: @shadowOne;

}
.sliderTopLine{
  width: 1600px;
  display: flex;
  left: 0px;
  position: relative;
  //opacity: 0;
 // animation: ani 2.5s forwards;
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
.gallerySliderBottom{
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-top: 5px;
  flex-wrap: wrap;
  gap: 5px;
}

.vizPicMiniOne{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide1mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniTwo{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide2mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniThree{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide3mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniFour{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide4mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniFifth{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide5mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniSixth{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide6mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniSeventh{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide7mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizPicMiniEighth{
  width: 95px;
  height: 95px;
  background-image: url("./img/vizitkiSlider/Slide8mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.redButtonViz{
  // line-height: 70px;
  background-color: @bigButton;
  padding: 11px;
  border-radius: 23px;
  //position: relative;
  top: 8px;
  color: white;
  left: 39px;
  font-weight: 600;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

///////////////////Mini Menu//////////////////////////////
.menuMini{
  display: flex;
  justify-content: space-evenly;
}
.menuListMini{
  list-style-type: none;
}
.menuLinkMini{
  color: @itemCardColor;
  font-size: 20px;
  //letter-spacing: 1px;
  &:hover{
    border-bottom: 2px solid @itemCardColor;
  }
}
////////////slider new/////////
.slideOne{
  background-image: url("./img/Slider.jpg");
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.slideOneText{
  filter: opacity(0.8);
  background: white;
  padding: 20px;
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 31px;
  border-bottom: 7px solid red;
  border-radius: 20px;
}
.slideTwo{
  background-image: url("./img/Slider1.jpg");
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.slideTwoText{
  filter: opacity(0.8);
  background: white;
  padding: 20px;
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 31px;
  border-bottom: 7px solid red;
}
.slideThree{
  background-image: url("./img/Slider2.jpg");
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.slideThreeText{
  filter: opacity(0.8);
  background: white;
  padding: 20px;
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 31px;
  border-bottom: 7px solid red;
}
//////////////////contact//////////////////////////
.contactBlock {
  height: 1000px;
  text-align: center;
  background-color: @mainGray;
}
.contactCard{
  width: 1000px;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  //background-color: @itemCardColor;
  border-radius: 10px;
  padding-top: 40px;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  //box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.55);
  padding-left: 20px;
  padding-right: 20px;
}

.contactPic{
  width: 300px;
  height: 300px;
  background-image: url("./img/contact/map.svg");
}
.contactTextContainer{
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.contactTextContainerLeft{
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;

}
.lineContact{
   border-bottom: 3px solid red;
 }
.contactTextContainerRight{
  text-align: right;
  font-size: 20px;
  letter-spacing: 1px;
}
/////////////////////////////nakleiki/////////////
.nakleikiFon{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.naclBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.naclSlider {
  width: 50%;
}
.naklPicMiniOne{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide1mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniTwo{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide2mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniThree{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide3mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniFour{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide4mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniFifth{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide5mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniSixth{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide6mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniSeventh{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide7mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.naklPicMiniEighth{
  width: 95px;
  height: 95px;
  background-image: url("./img/naklSlider/naklSlide8mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.vizitkiText{
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: @textColor;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}

//////////////////////////////LEAFLET///////////////////////////////////////////////////
.leafletBackG{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.leafletBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.leafletSlider {
  width: 50%;
}
.leafletPicMiniOne{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide1mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniTwo{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide2mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniThree{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide3mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniFour{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide4mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniFifth{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide5mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniSixth{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide6mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniSeventh{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide7mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletPicMiniEighth{
  width: 95px;
  height: 95px;
  background-image: url("./img/leafletSlider/slide8mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletText{
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: @textColor;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}

//////////////////////////////////////dream art/////////////////////////////////////////////

.dreamArtBackG{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.dreamArtBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}

.dreamArtPic{
  width: 50%;
}

.dreamArtPic img{
  border-radius: 10px;
  box-shadow: @shadowOne;
}
/////////////////////////////////////requirement///////////////////////////////////
.requirementBackG{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.requirementBlock{
  width: 800px;
  height: 450px;
  //padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;

}

.requirementText{
  width: 530px;
  color: #241b1c;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 35px;
  margin: 0 auto;
}
.reqPic{
  display: flex;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
.sq{
  width: 100px;
  height: 100px;


}
.reqPic>:nth-child(1){
  background: cyan;
}
.reqPic>:nth-child(2){
  background: magenta;
}
.reqPic>:nth-child(3){
  background: yellow;
}
.reqPic>:nth-child(4){
  background: black;
}
//////////////////////label////////////////////////////////////////

.labelBackG{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.labelBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.labelSlider {
  width: 50%;
}
.labelPicMiniOne{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide1mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniTwo{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide2mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniThree{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide3mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniFour{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide4mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniFifth{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide5mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniSixth{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide6mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniSeventh{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide7mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.labelPicMiniEighth{
  width: 95px;
  height: 95px;
  background-image: url("./img/labelSlider/slide8mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.leafletText{
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: @textColor;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}
////////////////booklet//////////////////////////////
.bookletBackG{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.bookletBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.bookletSlider {
  width: 50%;
}
.bookletPicMiniOne{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide1mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniTwo{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide2mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniThree{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide3mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniFour{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide4mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniFifth{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide5mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniSixth{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide6mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniSeventh{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide7mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletPicMiniEighth{
  width: 95px;
  height: 95px;
  background-image: url("./img/bookletSlider/slide8mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletText{
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: @textColor;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}
///////////////////////////////////////////////desing/////////////////////////////
.desingBackG{
  height: 1250px;
  text-align: center;
  background: @mainGray;
}
.desingBlock {
  width: 1100px;
  height: 450px;
  padding-top: 20px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}

.desingPic{
  width: 50%;
}

.desingPic img{
  border-radius: 10px;
  box-shadow: @shadowOne;
}
//////////////////////////canvas///////////////////////////////////
.canvasBackG{
  height: 1000px;
  text-align: center;
  background: @mainGray;
}
.canvasBlock {
  width: 1100px;
  height: 450px;
  padding-top: 50px;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
}
.canvasSlider {
  width: 50%;
}
.canvasPicMiniOne{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide1mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniTwo{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide2mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniThree{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide3mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniFour{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide4mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniFifth{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide5mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniSixth{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide6mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniSeventh{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide7mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.canvasPicMiniEighth{
  width: 95px;
  height: 95px;
  background-image: url("./img/canvas/slide8mini.jpg");
  border-radius: 10px;
  box-shadow: @shadowOne;
  cursor: pointer;
  &:hover{
    transform: scale(1.04);
    transition: all ease 0.3s;
  }
}
.bookletText{
  width: 50%;
  padding: 0px 50px 50px 50px;
  color: @textColor;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 25px;
  letter-spacing: 1px;
}