* {
  margin: 0;
  padding: 0;
}
.cont {
  margin: 0 auto;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.topLine {
  position: relative;
  left: 0;
  display: flex;
  margin-top: 50px;
  width: 900px;
  height: 300px;
  border: 1px solid black;
  transition: all ease 1s;
}
.imgOne {
  width: 300px;
  height: 300px;
  background-color: #cb132d;
}
.imgTwo {
  width: 300px;
  height: 300px;
  background-color: green;
}
.imgThree {
  width: 300px;
  height: 300px;
  background-color: coral;
}
.bottomLine {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.bottomCont {
  width: 90px;
  height: 90px;
  border: 1px solid black;
}
.bottomContOne {
  width: 90px;
  height: 90px;
  background-color: #cb132d;
}
.bottomContTwo {
  width: 90px;
  height: 90px;
  background-color: green;
}
.bottomContThree {
  width: 90px;
  height: 90px;
  background-color: coral;
}
